* {
  margin: 0;
  color: rgb(42, 185, 204);
  background-color: rgba(24, 26, 7, 0.993);
}
.App {
  margin: auto;
}
header {
  text-align: center;
}
h1 {
  padding: 10px;
  height: inherit;
  background-color: #f5deb3;
}
button {
  background-color: aliceblue;
  margin-left: 400px;
}
h3 {
  margin-left: 400px;
}
h2,
h4 {
  margin-right: 30px;
  color: white;
}
.poke-names {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  /* text-align: center; */
  padding: 10px;
  /* width: 200px; */
}
.poke-names select {
  border-radius: 10px;
  font-size: x-large;
  padding: 5px;
  background-color: rgba(216, 191, 216, 0.24);
  color: rgb(235, 158, 225);
}

.poke-abilities {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.poke-abilities select {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(216, 191, 216, 0.24);
  font-size: large;
  color: rgb(186, 204, 28);
}
.details {
  width: 100%;
  display: flex;
  justify-content: center;

  color: white;
}
.inner {
  /* align-self: center; */
  border: 5px solid red;
  border-radius: 5px;
  padding: 5px;
  width: 400px;
}
.details p {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: rgb(15, 1, 1);
  padding: 5px;
}
.details img {
  background-color: rgb(228, 219, 202);
  margin-top: 4px;
  width: 400px;
  height: 200px;
}
