* {
  margin: 0;
  color: rgb(42, 185, 204);
  background-color: rgb(26, 16, 7);
}
.App {
  margin: auto;
}
header {
  text-align: center;
}
h1 {
  padding: 10px;
  height: inherit;
  background-color: #f5deb3;
}
.region-names {
  width: 100%;
  text-align: center;
  padding: 10px;
  /* width: 200px; */
}
.region-names select {
  border-radius: 10px;
  font-size: x-large;
  padding: 5px;
  background-color: rgba(216, 191, 216, 0.24);
  color: rgb(235, 158, 225);
}

.country-names {
  padding: 10px;
  width: 100%;
  text-align: center;
}
.country-names select {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(216, 191, 216, 0.24);
  font-size: large;
  color: rgb(186, 204, 28);
}
.details {
  margin-left: 35%;
  /* text-align: center; */
  border: 5px solid red;
  width: 400px;
  padding: 10px;
  color: white;
}
.details p {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  color: rgb(15, 1, 1);
  padding: 5px;
}
.details img {
  margin-top: 10px;
  width: 400px;
  height: 200px;
}
